.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 1rem;
  color: white;
  max-width: 100vw;
  text-align: center;
  h1 {
    font-size: 300%;
    margin-inline: 1rem;
  }
  p {
    margin-inline: 1rem;
  }
  button {
    color: inherit;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    outline: none;
    border: 0.25rem solid;
    font-size: 125%;
    background: none;
    border-radius: 0.5rem;
    &:hover {
      box-shadow: 0 0 10px white;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  @media screen and (min-width: 550px) {
    &::after {
      overflow: hidden;
      content: "404";
      position: absolute;
      max-width: 100vw;
      font-size: 20rem;
      z-index: -1;
      color: #333;
      text-shadow: 0 0 40px #262626;
    }
  }
}
