/* dark shades of primary color*/
$clr-primary: hsl(228, 19%, 5%);

/* dark shades of secondary color*/
$clr-secondary-0: hsl(213, 24%, 16%);
$clr-secondary-1: hsl(213, 24%, 21%);

$clr-gray: hsl(210, 2%, 78%);

$clr-accent-1: hsl(176, 96%, 69%);

$clr-accent-2: hsl(177, 40%, 45%);

/* Other Colors used */
$clr-white: #fff;
$clr-black: #222;
$clr-red-dark: hsl(360, 67%, 44%);
$clr-red-light: hsl(360, 71%, 66%);
$clr-green-dark: hsl(125, 67%, 44%);
$clr-green-light: hsl(125, 71%, 66%);
